<!-- <hr class="menu-sep"> -->
{{ if (not  .IsHome ) }}
<section class="section-header {{ .CurrentSection.Section }}" {{ if index .CurrentSection.Params "header_image" }} style="background: url({{ absURL .CurrentSection.Params.header_image }}) no-repeat scroll top; 
        background-size: 1200px auto;
}" {{ end }}>
<h1 class="section-title {{ .CurrentSection.Section }}">{{ .CurrentSection.Title }}</h1>
{{ if index .Params "conference" }}<h3 class="section-description {{ .CurrentSection.Section }}">Workshop held at {{ .Params.conference }}{{ if index .Params "location" }} in {{ .Params.location }}{{ end }}</h3>{{ end }}</section>
<section role="navigation" aria-label="Section navigation" class="section-navigation {{ .CurrentSection.Section }}">

    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'>☰</div>
  </label>
    <ul class="menu">
        <li><a href="{{ .CurrentSection.Permalink }}">Main</a> </li>

        {{ $pages := where .CurrentSection.Pages ".Params.categories" "intersect" (slice "Statement" "Paper Abstract" "Scenario" "Late Scenario" "Sketch / Mockup") }}
        {{range .CurrentSection.Pages }}
            {{ if not (in $pages . )}}
            <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
            {{ end }}
        {{ end }}




    </ul>
    </div>
</section>
<!-- <hr class="menu-sep"> -->
{{ end }}